flattened_dictionary/term_bank_1.json
flattened_dictionary/term_bank_2.json
flattened_dictionary/term_bank_3.json
flattened_dictionary/term_bank_4.json
flattened_dictionary/term_bank_5.json
flattened_dictionary/term_bank_6.json
flattened_dictionary/term_bank_7.json
flattened_dictionary/term_bank_8.json
flattened_dictionary/term_bank_9.json
flattened_dictionary/term_bank_10.json
flattened_dictionary/term_bank_11.json
original_dictionary/index.json
original_dictionary/tag_bank_1.json
original_dictionary/term_bank_1.json
original_dictionary/term_bank_2.json
original_dictionary/term_bank_3.json
original_dictionary/term_bank_4.json
original_dictionary/term_bank_5.json
original_dictionary/term_bank_6.json
original_dictionary/term_bank_7.json
original_dictionary/term_bank_8.json
original_dictionary/term_bank_9.json
original_dictionary/term_bank_10.json
original_dictionary/term_bank_11.json
original_dictionary/term_bank_12.json
original_dictionary/term_bank_13.json
original_dictionary/term_bank_14.json
original_dictionary/term_bank_15.json
original_dictionary/term_bank_16.json
original_dictionary/term_bank_17.json
original_dictionary/term_bank_18.json
original_dictionary/term_bank_19.json
original_dictionary/term_bank_20.json
original_dictionary/term_bank_21.json
original_dictionary/term_bank_22.json
original_dictionary/term_bank_23.json
original_dictionary/term_bank_24.json
original_dictionary/term_bank_25.json
original_dictionary/term_bank_26.json
original_dictionary/term_bank_27.json
original_dictionary/term_bank_28.json
original_dictionary/term_bank_29.json
original_dictionary/term_bank_30.json
original_dictionary/term_bank_31.json
original_dictionary/term_bank_32.json
original_dictionary/term_bank_33.json
original_dictionary/term_bank_34.json
original_dictionary/term_bank_35.json
original_dictionary/term_bank_36.json
original_dictionary/term_bank_37.json
original_dictionary/term_bank_38.json
original_dictionary/term_bank_39.json
original_dictionary/term_bank_40.json
original_dictionary/term_bank_41.json
original_dictionary/term_bank_42.json
original_dictionary/term_bank_43.json
original_dictionary/term_bank_44.json
original_dictionary/term_bank_45.json
original_dictionary/term_bank_46.json
original_dictionary/term_bank_47.json
original_dictionary/term_bank_48.json
original_dictionary/term_bank_49.json
original_dictionary/term_bank_50.json
original_dictionary/term_bank_51.json
original_dictionary/term_bank_52.json
original_dictionary/term_bank_53.json
original_dictionary/term_bank_54.json
original_dictionary/term_bank_55.json
original_dictionary/term_bank_56.json
original_dictionary/term_bank_57.json
original_dictionary/term_bank_58.json
original_dictionary/term_bank_59.json
original_dictionary/term_bank_60.json
original_dictionary/term_bank_61.json
original_dictionary/term_bank_62.json
original_dictionary/term_bank_63.json
original_dictionary/term_bank_64.json
original_dictionary/term_bank_65.json
original_dictionary/term_bank_66.json
original_dictionary/term_bank_67.json
original_dictionary/term_bank_68.json
original_dictionary/term_bank_69.json
original_dictionary/term_bank_70.json
original_dictionary/term_bank_71.json
original_dictionary/term_bank_72.json
original_dictionary/term_bank_73.json
original_dictionary/term_bank_74.json
original_dictionary/term_bank_75.json
original_dictionary/term_bank_76.json
original_dictionary/term_bank_77.json
original_dictionary/term_bank_78.json
original_dictionary/term_bank_79.json
original_dictionary/term_bank_80.json
original_dictionary/term_bank_81.json
original_dictionary/term_bank_82.json
original_dictionary/term_bank_83.json
original_dictionary/term_bank_84.json
original_dictionary/term_bank_85.json
original_dictionary/term_bank_86.json
original_dictionary/term_bank_87.json
original_dictionary/term_bank_88.json
original_dictionary/term_bank_89.json
original_dictionary/term_bank_90.json
original_dictionary/term_bank_91.json
original_dictionary/term_bank_92.json
original_dictionary/term_bank_93.json
original_dictionary/term_bank_94.json
original_dictionary/term_bank_95.json
original_dictionary/term_bank_96.json
original_dictionary/term_bank_97.json
original_dictionary/term_bank_98.json
original_dictionary/term_bank_99.json
original_dictionary/term_bank_100.json
original_dictionary/term_bank_101.json
original_dictionary/term_bank_102.json
original_dictionary/term_bank_103.json
original_dictionary/term_bank_104.json
original_dictionary/term_bank_105.json
original_dictionary/term_bank_106.json
original_dictionary/term_bank_107.json
profile_stats.txt
profiling_results.prof
results.prof
dictionary_index/_MAIN_1.toc
dictionary_index/MAIN_WRITELOCK
dictionary_index/MAIN_z2209xsrpawuelz1.seg
__pycache__/cache_dictionary.cpython-311.pyc
__pycache__/config.cpython-311.pyc
__pycache__/linguistics_symbols.cpython-311.pyc
